[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pywikibot = "*"
pywikibot-scripts = "*"
smolagents = "*"
mediawiki-agent = {file = ".", editable = true}

[dev-packages]
pytest = "*"
pytest-mock = "*"
ruff = "*"
mypy = "*"

[requires]
python_version = "3.13"
